body
  .container
    .navbar
      .navbar-inner
        a.brand(href="#") RTCwhiteboard
        ul.nav
          li
            a(href="/") Home
          li
            a(href="/draw") Draw
          li
            a(href="/collections") Collection Demo
          li
            a(href="/info") More Info


    main#pages
