section.page.pageThree
	style
		#makeCanvas{border:1px solid black;width:100%;height:88%;} .full{ height:100%; width:100%}

	script src="./blah.js"
	.full
		canvas.full#makeCanvas

	.buttons
		input.input#dotSize
		button.btn.size Go
		button.btn.erase Erase
		button.btn.bigger Bigger
		button.btn.smaller Smaller
		button.btn.color New Color